$userBackcolor: #f5f5f5;

.userChoice, .userPoint {
  font-size: 150% !important;
}

#questionContainer {
  position: absolute;
  width: 100%;
  top: 20%;
  left: 0;

  td {
    padding: 10px;
  }

  #questionContent, #answerA, #answerB, #answerC, #answerD {
    width: 100%;
    margin: 0;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 15px;
    background-color: $userBackcolor;
  }
}

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: auto;
}
#roundNameBox {
  width: auto;
  display: inline-block;
  position: fixed;
  top: 3%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 30px;             //SIZE FONT ROUND NAME
  color: red;
}

#tableCountDown {
  width: auto;
  display: inline-block;
  position: fixed;
  top: 12%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
#userRound2Box {
  text-align: center;
  height: 100%;
  margin-top: 10%;
}

#userRound3Box,#userRound4Box {
  width: auto;
  display: inline-block;
  position: fixed;
  top: 30%;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.1);

  table {
    border-spacing: 0;
    border-color: white;
    padding-bottom: 0;
    width: 100%;
    tr {
      margin-right: 20px;
      td {
        padding-top: 0;
        padding-left: 0;
        text-align: center;
        img {
          width: 100%;
        }
      }
    }
  }
}

#pointContainer {
  width: auto;
  height: 100%;
  display: inline-block;
  position: fixed;
  top: 3%;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.1);

  table {
    border-spacing: 0;
    border-color: white;
    padding-bottom: 0;
    width: 100%;
    tr {
      margin-right: 20px;
      td {
        padding-top: 0;
        padding-left: 0;
        text-align: center;
        img {
          width: 80%;
        }
      }
    }
  }
}
#pointTable2 {
  padding-top: 0;
  margin-top: 0;
  margin-left: 70px;
}
#pointTable1 {
  margin-bottom: 0;
}