extends ../../../view/main
append blockCss
    +link('/css/md/screen.min.css?v=#{version}')
append blockJavascript
    script
        include ./bin/frontend.min.js
append blockMain
    #round1.round.container-fluid
        #questionContainer
            p#questionContent
            p#answerA
            p#answerB
            p#answerC
            p#answerD
        #pointContainer
            | Point
    #round2.round
        | Vòng Thủ lĩnh tài năng
    #round3.round
        | Vòng Thủ lĩnh nhạy bén
    #round4.round
        | Vòng Tôi là thủ lĩnh