extends ../../../view/main
append blockCss
    +link('/css/md/user.min.css')
    +link('/css/flipcountdown.min.css')
append blockJavascript
    +script('/js/flipcountdown.min.js')
    script
        if (user && user.role=='user')
            | $$.userId = '#{user.username}';
        include ./bin/frontend.min.js
append blockMain
    img.bg-image(src='/img/round0.png')
    table#user-box
        tbody
            tr
                td(align='left' style='width:25%')
                    img#userAvatar
                td(align='center' colspan=2)
                    #countdown1
                td(align='right' style='width:25%')
                    #userPoint
            tr
                td(colspan=4)
                    #questionContent
            tr
                td(style='width:50%' colspan=2)
                    p.answer#answerA(data-value='a' onclick='$$.user.round1Select(this)')
                td(style='width:50%' colspan=2)
                    p.answer#answerB(data-value='b' onclick='$$.user.round1Select(this)')
            tr
                td(style='width:50%' colspan=2)
                    p.answer#answerC(data-value='c' onclick='$$.user.round1Select(this)')
                td(style='width:50%' colspan=2)
                    p.answer#answerD(data-value='d' onclick='$$.user.round1Select(this)')
            tr
                td(align='center' colspan=4)
                    p#userDeltaPoint
                    p#questionResult
