nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    a.navbar-brand(href='/admin') Student Leader
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link#menuHome(href='/admin') Home
            li.nav-item
                a.nav-link#menuUser(href='/adminUser') User
            li.nav-item
                a.nav-link#menuQuestion(href='/adminQuestion') Question
            li.nav-item.navbar-toggler-right
                a.nav-link(href='#' onclick='$$.logout()') Logout