mixin script(url)
    script(src = url + '?v=' + version + (isDebug ? '&t=' + timestamp : ''))

mixin link(url)
    link(href=url + '?v=' + version + (isDebug ? '&t=' + timestamp : '') type='text/css' rel='stylesheet' media='screen,projection')