include _mixin
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        style @font-face{font-family:'Material Icons';font-style:normal;font-weight:400;src:local('Material Icons'),local('MaterialIcons-Regular'),url(../fonts/roboto/Roboto.woff2) format('woff2')}.material-icons{font-family:'Material Icons';font-weight:400;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:'liga';-webkit-font-smoothing:antialiased}
        +link('/css/bootstrap.min.css')
        +link('/css/tether.min.css')
        +link('/css/main.min.css')
        block blockCss
        title #{title}
        script(type='text/javascript') var $$ = {dev: (location.hostname === 'localhost' || location.hostname === '127.0.0.1')};
    body
        if user && user.role == 'admin'
            include _adminNavBar
        main
            block blockMain
            .modal.fade#modalAlert(style='color:black')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            h5.modal-title Alert
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                                span(aria-hidden='true') &times;
                        .modal-body
                            p ...
                        .modal-footer
                            button.btn.btn-primary(type='button' data-dismiss='modal') Close
            .modal.fade#modalConfirm(style='color:black')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            h5.modal-title ...
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                                span(aria-hidden='true') &times;
                        .modal-body
                            p ...
                        .modal-footer
                            button.btn.btn-primary.confirmYes(type='button' data-dismiss='modal') Yes
                            button.btn.btn-secondary(type='button' data-dismiss='modal') No
        block blockJavascript
            +script("/js/socket.io.js")
            +script("/js/jquery.min.js")
            +script("/js/tether.min.js")
            +script("/js/bootstrap.min.js")
            script(type='text/javascript')
                if user && user.role == 'admin'
                    include ./js/bin/adminNavBar.min.js
                include ./js/bin/init.min.js
                include ./js/bin/loader.min.js
                //include ./js/bin/mfupload.min.js