extends ../../../view/main
append blockCss
    +link('/css/md/adminUser.min.css')
append blockJavascript
    script
        include ./bin/frontend.min.js
append blockMain
    table.table.table-striped.table-hover.table-bordered.table-sm#userTable
        thead
            tr
                th(style='width:auto') #
                th(style='width:40%; text-align:center') UserName
                th(style='width:20%; text-align:center') Role
                th(style='width:20%; text-align:center') Active
                th(style='width:20%; text-align:center') Actions
        tbody
    .modal.fade#userPasswordModal(style='width:auto')
        .modal-dialog(id='userPasswordModalDialog')
            .modal-content
                .modal-header
                    h4.modal-title#userPasswordModalLabel User password
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p#userPasswordModalError(style='color:red')
                    .form-group
                        label.col-sm-12.control-label(for='newPassword') New password:
                        .col-sm-12
                            input.form-control#newPassword(type='password' placeholder='New password' onkeyup='$$.aUser.onModalKeyup(event)')
                    .form-group
                        label.col-sm-12.control-label(for='confirmNewPassword') Confirm password:
                        .col-sm-12
                            input.form-control#confirmNewPassword(type='password' placeholder='Confirm password' onkeyup='$$.aUser.onModalKeyup(event)')
                .modal-footer
                    button.btn.btn-danger(type='button' data-dismiss='modal') Close
                    button.btn.btn-primary(onclick='$$.aUser.saveNewPassword(); return false' type='button') Save
    .modal.fade#userInfoModal(style='width:auto')
        .modal-dialog
            .modal-content
                .modal-header
                    h4.modal-title#userInfoModalLabel User info
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p#userInfoModalError(style='color:red')
                    .form-group
                        label.col-sm-4.control-label(for='newUsername' style='width:auto') Username:
                        .col-sm-12
                            input.form-control#newUsername(type='text' placeholder='Username' onkeyup='$$.aUser.onModalKeyup(event)')
                    .form-group
                        label.col-sm-4.control-label(for='newRole' style='width:auto') Role:
                        .col-sm-12
                            select#newRole(class='form-control')
                                option(value='user') User
                                option(value='admin') Admin
                    .form-group
                        .col-sm-8.col-sm-offset-4.checkbox
                            label.control-label(for='newActive' style='width:auto') Active:&nbsp;
                            input#newActive(type='checkbox' style='margin-right:6px')
                .modal-footer
                    button.btn.btn-danger(type='button' data-dismiss='modal') Close
                    button.btn.btn-primary(onclick='$$.aUser.save(); return false' type='button') Save
    .modal.fade#userModal(style='width:auto')
        .modal-dialog
            .modal-content
                .modal-header
                    h4.modal-title#userModalLabel User
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p#userModalError(style='color:red')
                    .form-group
                        label.col-sm-2.control-label(for='username' style='width:auto') Username:
                        .col-sm-12
                            input.form-control#username(type='text' placeholder='Username' onkeyup='$$.aUser.onModalKeyup(event)')
                    .form-group#passwordBox
                        label.col-sm-2.control-label(for='password' style='width:auto') Password:
                        .col-sm-12
                            input.form-control#password(type='password' placeholder='Password' onkeyup='$$.aUser.onModalKeyup(event)')
                    .form-group#confirmPasswordBox
                        label.col-sm-12.control-label(for='confirmPassword' style='width:auto') Confirm password:
                        .col-sm-12
                            input.form-control#confirmPassword(type='password' placeholder='Confirm password' onkeyup='$$.aUser.onModalKeyup(event)')
                    .form-group
                        label.col-sm-12.control-label(for='userRole' style='width:auto') Role:
                        .col-sm-12
                            select#userRole(class='form-control')
                                option(value='user') User
                                option(value='admin') Admin
                                option(value='mc') MC
                    .form-group
                        .col-sm-8.col-sm-offset-4.checkbox
                            label.control-label(for='userActive' style='width:auto') Active:&nbsp;
                            input#userActive(type='checkbox' style='margin-right:6px')
                .modal-footer
                    button.btn.btn-danger(type='button' data-dismiss='modal') Close
                    button.btn.btn-primary#userBtnSave(onclick='$$.aUser.addUser(); return false' type='button') Save